#loc_modal,#road_modal
{
    background-color: transparent;
    width: 95%;
    margin-left: 5%;
}

#road_modal .modal-content
{
    padding: 0;
}

#loc_modal h3,#road_modal h3
{
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
     color: white;
}
#road_modal h3
{
    font-size: 20px;
    font-weight: bold;
}
#road_modal table td
{
    font-weight: normal;
    font-size: 14px;
}
#road_modal table
{
    width: 100%;
}
#loc_modal .modal-header,#road_modal .modal-header
{
    padding: 10px;
}

#loc_modal .modal-header button,#road_modal .modal-header button
{
    float: right;
    color: white;
}
#road_modal .modal-content
{
     background-image: url('../images/sm.jpg');
    background-size: 100% 100%;
}
#loc_modal .modal-content
{
    background-image: url(map.jpg);
}

#srachlocid
{
    width: 90%;
    margin: 2% auto;
}